* {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 30px 25px;
    height: 60px;
    background-color: #21222A;
}

.nav-title {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 30px;
}

.nav-logo {
    height: 50px;
}

.nav-sub-title {
    color: #DEEBF8;
    font-weight: 600;
}